@charset "utf-8";

/**
 * Sijia Zhao (2020) sijia.zhao@psy.ox.ac.uk
 * Read LICENSE file before using
 */

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.helperDialog {
    text-align: justify;
}

.helperDialog .hidden {
    display: none;
}

.helperDialog .center {
    text-align: center;
}

.helperDialog table {
    margin: 2em auto;
}

.helperDialog table,
.helperDialog table td {
    border: none;
    vertical-align: text-top;
}

.helperDialog td {
    padding: 0.5em;
}

.helperDialog .notice {
    text-align: center;
    font-weight: bold;
    margin: 2em 0;
}

.helperDialog .left {
    text-align: left !important;
}

.helperDialog hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 1em auto;
}

button[data-helper-button] {
    width: 60px;
    height: 60px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    background-color: #f6f6f6;
    margin: 0.5em;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    color: #000;
}

button[data-headphones-audio-control] {
    border: 1px solid #03a9f4;
}

button[data-headphones-check-next] {
    width: auto;
    padding: 1em;
}

button[data-helper-button]:hover {
    background-color: #f0f0f0;
}

button[data-helper-button]:active {
    background-color: #eaeaea;
    border-width: 2px;
}

button[data-helper-button][disabled],
button[data-helper-button][disabled]:hover,
button[data-helper-button][disabled]:active {
    background-color: #f6f6f6;
    border: 1px solid #c5c5c5;
    width: auto;
    padding: 1em;
    cursor: initial;
    color: #c5c5c5;
}

button[data-headphones-check-response][disabled],
button[data-headphones-check-response][disabled]:hover,
button[data-headphones-check-response][disabled]:active {
    width: 60px;
}

button[data-helper-button='selected'] {
    border-color: #32CD32;
    background-color: #bbf8bb;
    font-weight: bold;
}

button[data-helper-button='selected']:hover {
    background-color: #b5f2b5;
}

button[data-helper-button='selected']:active {
    background-color: #afecaf;
    border-width: 2px;
}

button[data-helper-button][disabled] img {
    display: none;
}

button[data-helper-button] img {
    height: 30px;
}

#headphoneDialog #target {
    height: 10em;
}

#headphoneDialog table {
    margin-bottom: 3em;
}

#headphoneDialog td {
    width: 16em;
}

#headphoneDialog td span {
    font-weight: normal;
    display: block;
    margin-bottom: 1em;
}

#headphoneDialog td span.disabled {
    color: #c5c5c5;
}

.helperDialog #progress {
    position: relative;
}

.helperDialog #progress span {
    display: block;
    width: 100%;
    padding: 0.5em;
    position: absolute;
    text-align: center;
}